
.top-header {
  background-color: #1aaac9;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
#subtitle {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 11%;
  margin-right: 750px;
  margin-top: 0px;
  font-weight: 300;
  font-size: 1.9rem;
  font-style: italic;
}
.second-header {
  background-color:	#E8E8E8;
}
.kitties-words {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  margin-left: 11%;
  margin-bottom: 5px;
}
.slinky-headline-text {
  color: #383838;
  font-family: Arial, Helvetica, sans-serif;
}
.cat-ipsum-headline {
  color: #1aaac9;
  font-family: Arial, Helvetica, sans-serif;
}
/*h3 {
  color: #1aaac9;
  font-family: Arial, Helvetica, sans-serif;
}*/
/*li {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}*/
.nav-bar-links ul {
  font-family: Arial, Helvetica, sans-serif;
  color: #383838;
  display: inline;
  text-decoration: none;
}
.nav-bar-links li {
  font-family: Arial, Helvetica, sans-serif;
  color: #383838;
  display: inline;
  text-decoration: none;
}
.nav-bar-links a {
  font-family: Arial, Helvetica, sans-serif;
  color: #383838;
  display: inline;
  text-decoration: none;
}
.top-nav-bar {
  margin-left: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
}
blockquote {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  margin-left: 1%
}
.slinky-list {
  color: #606060;
  font-family: Arial, Helvetica, sans-serif;
}
/*a:link {
  text-decoration: none;
}*/
.blue-text {
  color: #66e0ff;
  line-height: 2rem;
}
.body-copy {
  font-family: Arial, Helvetica, sans-serif;
}
.main-content {
  color: #606060;
  float: left;
  width: 50%;
  margin-left: 11%;
  line-height: 1.5rem;
}
.dark-gray-header {
  color: #383838;
  font-family: Arial, Helvetica, sans-serif;
}
aside {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  width: 20%;
  margin-right: 10%;
  margin-bottom: 7%;
}
.aside-text {
  padding-bottom: 2%;
  line-height: 1.5rem;
  color: #606060;
}
.aside-image {
  width: 100%;
  margin: 0;
}
.aside-links {
  color: #66e0ff
}
.sidebar-caption {
  padding-bottom: 2%;
  line-height: 1.5rem;
  color: #606060;
}
footer  {
  clear: both;
  background-color: #383838;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5%;
  text-align: center;
}
.footer-links ul {
  color: white;
  font-weight: 600;
  font-size: .8rem;
  display: inline;
  text-decoration: none;
}
.footer-links li {
  color: white;
  font-weight: 600;
  font-size: .8rem;
  display: inline;
  text-decoration: none;
}
.footer-links a {
  color: white;
  font-weight: 600;
  font-size: .8rem;
  display: inline;
  text-decoration: none;
}
.footer-paragraph {
  font-size: .8rem;
  line-height: 1.5rem;
}
.footer-logo {
  padding-left: 5%;
  padding-right: 5%;
}
.footer-section {
  margin: auto;
  width: 35%;
}
