
.top-header {
  background-color: #1aaac9;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
#top-header-h1 {
  margin-left: 11%;
  margin-bottom: 5px;

}
#top-header-h2 {
  margin-left: 11%;
  margin-right: 700px;
  margin-top: 0px;
}
.second-header {
  background-color:	#E8E8E8;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
}
h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  color: #1aaac9;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  display: inline;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-bar-links {
  color: #383838;
}
.top-nav-bar {
  margin-left: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
}
blockquote {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
}
a:link {
  text-decoration: none;
}
.blue-text {
  color: #66e0ff;
}
.body-copy {
  font-family: Arial, Helvetica, sans-serif;
}
article {
color: #383838;
  float: left;
  width: 50%;
  margin-left: 11%;
}
aside {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  width: 20%;
  margin-right: 10%;
  margin-bottom: 7%;
}
.aside-image {
  width: 100%;
  margin: 0;
}
/*
start comment out Morgan 01/21/20
#box2 {
  box-sizing: content-box;
  width: 1600px;
  padding: 0;
  border: 0;
  margin: 0;
}
#box3 {
  box-sizing: content-box;
  width: 1600px;
  padding: 0;
  border: 0;
  margin: 0;
}
end comment out
*/
footer  {
  clear: both;
  background-color: #383838;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5%;
  text-align: center;
}
.footer-links {
  color: white;
}
.footer-section {
  margin: auto;
  width: 50%;
}
